body {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	margin-top: -30px;
	margin-left: -10px;
	margin-right: -10px;
	align-items: center;

}

/* all header stuff */
header {
	background-color: rgb(0, 0, 0);
}
.menu {
	text-align: left;
	margin-left: 50px;
	word-spacing: 35px;
	font-size: 20px;
	font-weight: normal;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: royalblue;
	text-decoration: none;
	font-weight: bold;
}

/* button */
button {
	background-color: royalblue;
	border: black;
	color: white;
	font-family: "Montserrat", sans-serif;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 8px;
}

button:hover {
	cursor: pointer;
	background-color:black;
	font-weight: bold;
}

/* INPUT STYLES */

input {
	font-family: "Montserrat", sans-serif;
}

input, textarea {
	right: 90;
	padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
}

.dropdown {
	right: 90;
	padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
	font-family: Montserrat, sans-serif;
	border-radius: 2px;
	padding: 5px 10px;
}

/* split screen */

.container {
	display: flex;
	/* position: fixed; */
  }
  
  #pt1 {
	flex: 1;
	/* text-align:; */
  }
  
  #pt2 {
	flex: 1;
	/* text-align: right; */

  }

  #pt3 {
	flex: 1;
  }

  #pt4 {
	flex: 1;
  }




/* table edits */

